@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

/////////////////////////////////////////////////////////////
/////////        perfect-scrollbar styles        ////////////
/////////////////////////////////////////////////////////////

/*
 * Scrollbar thumb styles
 */

.ps__rail-x {
  height:6px;
  border-radius: 6px;
  bottom: 2px;

  &:hover, &:focus, &.ps--clicking, .ps__thumb-x {
    .ps__thumb-x {
      background-color: $grey2;
      width: 4px;
    }
  }

  &.ps--active-x {
    display: block;
    background-color: transparent;
  }

}

.ps__rail-y {
  width:6px;
  border-radius: 6px;
  right: 2px;

  &:hover, &:focus, &.ps--clicking, .ps__thumb-y {
    .ps__thumb-y {
      background-color: $grey2;
      width: 4px;
    }
  }

  &.ps--active-y {
    display: block;
    background-color: transparent;

  }
}

.ps__thumb-x {
  background-color: $ubiq-green;
  height: 4px;
  bottom: 1px;
}

.ps__thumb-y {
  background-color: $ubiq-green;
  width: 4px;
  right: 1px;
}

.ps:hover > .ps__rail-x,
.ps:hover > .ps__rail-y,
.ps--focus > .ps__rail-x,
.ps--focus > .ps__rail-y,
.ps--scrolling-x > .ps__rail-x,
.ps--scrolling-y > .ps__rail-y {
  opacity: 0.6;
}

.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking {
  background-color: $grey4;
  opacity: 0.9;
}

/////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////

// We want the scrollbar to appear on the layout view, so we must set all of its parents to be as high as the browser window
// and also hide their scrollbars

html {
  overflow-y: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
  background-color: #1e1e1e;
}

#__nuxt {
  height: 100%;
}

#__layout {
  height: 100%;
}

a {
  text-decoration: none;
}

.v-input__append-outer {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

hr {
  margin: 5px 0px;
  border: 1px solid rgba(43, 43, 43, 0.2);
}

// Apexcharts custom styling

//.v-application {
//  font-family: $body-font-family, sans-serif !important;
//  .title { // To pin point specific classes of some components
//    font-family: $body-font-family, sans-serif !important;
//  }
//}

//Override rally preset background
.v-application {
  background: #1e1e1e !important;
}
//.theme--dark .v-card {
//  background-color: #111;
//}

//.bg-dark {
//  background-color: #111 !important;
//}
//
//.btn-secondary {
//  color: #fff;
//  background-color: #333;
//  border-color: #333;
//}
//
//
//a {
//  color: $highlight;
//}
//
//a:hover {
//  color: darken($highlight, 10%);
//  text-decoration: none;
//}
//
//.body {
//  padding-top: 65px;
//  min-height: calc(100vh - 228px); // view height - footer height
//}
//.form-inline .form-control {
//  @media screen and (max-width: $break-small) {
//    width: 100px;
//  }
//  @media screen and (min-width: $break-large) {
//    width: 400px;
//  }
//}
//
.footer {
  margin-top: 20px;
  background-color: black;
  color: $text1;
  -webkit-box-shadow:$box-shadow1;
  -moz-box-shadow:$box-shadow1;
  box-shadow: $box-shadow1;
}

footer a {
  color: $text1 !important;
}

footer a:hover {
  color: rgba(255, 255, 255, 0.75) !important;
}

.border-right {
  border-right: 1px solid #2e2e2e !important;
}

.border-bottom {
  border-bottom: 1px solid #2e2e2e !important;
}

.abstract {
  width: 100%;
  height: 402px;
  background-color: #111 !important;
  background: url('~assets/abstract-shapes-20.svg');
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -112px;
  z-index: 0;
}

.abstract-bg {
  background-color: #0e0e0e !important;
  background: url('~assets/abstract-shapes-20.svg');
}

.abstract-drawer {
  background-color: #1e1e1e !important;
}